{% extends "layout.html" %}

{% block head %}
		<title>
			Change Password
		</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
{% endblock %}

{% block body %}
		<form method='POST' onsubmit='return validate(this)'>
            Current Password: <br>
			<input id='0' type='password' name='current_passwd' required>
			<br><br>			
			New Password: <br>
			<input id='1' type='password' name='passwd' required>
			<br><br>
			Confirm password: <br>
			<input id='2'type='password' name='passwd2' required>
			<br><br>
			<button> Change password </button>
		</form>
	<script>
	function validate(form)
	{
		if(form['passwd'].value != form['passwd2'].value)
		{
			alert('The passwords don\'t match!');
			event.preventDefault();
			return false;
		}
		else
		{
			return true;
		}
	}
	</script>
{% endblock %}